:root {
    --results-columns:2;
}

.listOfGifs {
    column-count: var(--results-columns);
    column-gap: .5rem;
}
.listOfGifs-item {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    background-color: #fff;
    display: inline-block;
    width:100%;
}
@media (min-width: 600px) {
    :root {
        --results-columns:3;
    }
}
@media (min-width: 800px) {
    :root {
        --results-columns:4;
    }
}
